.wizard-content-container {
    padding: 2%;
}

h1.wizard-header {
    font-size: 35px;
    margin-bottom: 25px;
}

#medium-box-options-row {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.large-box-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.large-box {
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0px 30px;
    color: black;
    padding: 20px 30px 40px 30px;
    margin: 3%;
}

.large-box-group {
    margin: 20px;
}

.large-box-group p {
    line-height: 1.6;
    font-size: 18px;
}

.large-button-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.information-box-wide {
    border: 1px solid #DDDDDD;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 80px;
    margin: 30px 10px;
}

.order-information-main-content {
    display: flex;
}

.information-box-wide h2 {
    text-align: left;
    display: flex;
    align-items: center;
}

.order-information {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 10px 20px;
    
}

.order-info-box {
    width: 50%;
    min-width: 300px;
}

.confirmed {
    background: #1E981C;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding: 8px 20px;
    margin: 0px 20px;
}

.technician-tile {
    display: flex;
    justify-content: center;
    width: 200px;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 20px;
}

.tech-photo-large {
    width: 200px;
    border-radius: 100%;
    margin-bottom: 10px;
}