.wizard-content-container {
    padding: 2%;
}

h1.wizard-header {
    font-size: 35px;
    margin-bottom: 25px;
}

#medium-box-options-row {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.large-box-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.large-box {
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0px 30px;
    color: black;
    padding: 20px 30px 40px 30px;
    margin: 3%;
}

.large-box-group {
    margin: 20px;
}

.large-box-group p {
    line-height: 1.6;
    font-size: 18px;
}

.large-button-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.multipane-button-container > p + a {
    margin-top: 10px;
}

.instructions {
    margin-bottom: 15px;
}

.information-box-wide {
    border: 1px solid #DDDDDD;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 50px 80px;
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;
}

.wide-info-box-left {
    width: 75%;
}

.order-information-main-content {
    display: flex;
}

.left-h2 {
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.order-information {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 10px 20px;
    
}

.order-info-box {
    width: 50%;
    min-width: 300px;
}

.confirmed {
    background: #1E981C;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding: 8px 20px;
    margin: 0px 20px;
}

.technician-tile {
    display: flex;
    justify-content: center;
    width: 15%;
    height: fit-content;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 20px;
}

.tech-photo-large {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 10px;
}

.box-row-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#medium-box-options-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.medium-box {
    border: 1px solid #DDDDDD;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 50px 80px;
    width: 48%;
    padding-bottom: 60px;
    line-height: 1.4;
}

@media screen and (max-width: 840px) {
    .medium-box {
        width: 96%;
        padding: 25px 40px;
        margin-bottom: 20px;
    }

    .box-row-container {
        justify-content: center;
    }

    .left-h2 {
        font-size: 24px;
    }
    
    .information-box-mobile-group {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tech-photo-medium {
        width: 100px;
        border-radius: 100%;
    }

    .order-details-list {
        margin-left: 20px;
    }

    .order-information {
        border-collapse: collapse;
        font-size: 12px;
        padding: 0px;
        width: 100%;
        margin-top: 20px;
    }

    tbody, thead, tr {
        width: 100%;
    }

    th {
        font-weight: bold;
        background-color: #003506;
        color: white;
    }

    th, td, tr {
        border: 1px solid #494949;
        width: 25%;
        border-collapse: collapse;
        text-align: center;
    }
    td {
        padding: 2px;
    }
}

.item-details {
    width: 100%;
    background-color: #efefef;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 10px 15px;
    border: 1px solid rgb(163, 163, 163);
}

.confirmed-check {
    width: 20px;
}

@media screen and (max-width: 840px) {
    h1.wizard-header {
        font-size: 26px;
        margin: 20px 5px;
    }

    .large-box {
        width: 95%;
        margin-bottom: 30px;
    }

    .large-button-container {
        width: 100%;
    }
}

/**Media query for tablets only*/
@media screen and (max-width: 840px) and (min-width: 440px) {
    .order-details-list {
        display: flex;
        flex-wrap: wrap;
    }

    .order-details-list li {
        width: 50%;
    }

    td, th {
        padding: 10px 30px;
    }
}

/**Media query for phones */
@media screen and (max-width: 440px) {
    th {
        padding: 10px 0px;
    }

    .order-details-list li {
        font-size: 14px;
    }

    .wizard-content-container h1 {
        font-size: 22px;
    }
}

.wizard-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}