header.filters {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    width: 100%;
}

h2.page-header {
    text-align: left;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.filter {
    background-color: rgb(218, 218, 218);
    padding: 5px 20px;
    border-radius: 100px;
    min-width: 15em;
    font-weight: 700;
    border: 0px;
}

.filter-group {
    margin: 0px 10px;
}

.filter-group label {
    font-weight: 700;
    font-size: 10px;
    margin-left: 2.5em;
}