.form-group-split {
    display: flex;
    width: 100%;
}

.form-group-col {
    width: 50%;
}

.form-group-split > .form-group-col + .form-group-col {
    margin-left: 20px;
}

.signup-form-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#signup-form {
    width: 60%;
}