nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #383838;
    color: white;
    font-weight: 700;
    font-size: 14px;
}
/* Create lines in between each nav item */
ul.nav-list > li + li {
    border-left: 1px solid white;
    margin-left: 10px;
    padding-left: 10px;
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style: none;
}

.nav-left-group a {
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

a {
    color: white;
    text-decoration: none;
}

.nav-item {
    cursor: pointer;
}

.nav-item:hover, .nav-left-group a:hover {
    transform: scale(1.03);
}

.home-icon {
    height: 20px;
    margin-right: 5px;
}

.cart-icon {
    height: 20px;
}

.cart-component {
    display: flex;
    align-items: center;
}

.menu-button {
    width: 30px;
}

.menu-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.nav-logo {
    height: 40px;
}

@media screen and (max-width: 840px) {
    nav {
        padding: 10px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.mobile-menu-dropdown {
    background-color: #505050;
}

.mobile-menu-dropdown .nav-list {
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-menu-dropdown ul li {
    display: flex;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    border-bottom: 0.25px solid rgb(147, 147, 147);
}

.nav-right-group {
    display: flex;
}

.nav-icon-mobile {
    margin-left: 40px;
}

.mobile-menu-dropdown ul.nav-list > li + li {
    border-left: 0px solid white;
    margin-left: 0px;
    padding-left: 0px;
}

.mobile-menu-dropdown ul li:hover {
    transform: scale(1.1);
}