#hero {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 55vh;
    align-content: flex-start;
}

#hero img {
    margin-top: 10px;
    margin-bottom: 40px;
}

#hero h1 {
    margin-bottom: 20px;
    width: 100%;
}

.subheader {
    margin-bottom: 8vh;
    width: 100%;
    padding: 0% 20%;
}

#explainer-img {
    width: 60%;
}