.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.modal-window {
    width: 75%;
    background-color: white;
    border: 1px solid rgb(147, 147, 147);
    transition: 1.1s ease-out;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 3;
    opacity: 1;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.modal-window h2 {
    width: 100%;
}

.modal-header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.modal-header h2 {
    margin: 0px;
}

.close-modal {
    display: flex;
    justify-content: right;
}

.close-modal img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.close-modal img:hover {
    transform: scale(1.1)
}

.update-form {
    width: 70%;
    min-width: 350px;
}

.cart-contents-container {
    width: 80%;
}

.error-box {
    background-color: rgb(240, 133, 133);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.summary-row {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.summary-row-stats {
    font-size: 20px;
    line-height: 1.9;
}

.summary-row-buttons {
    display: flex;
    flex-wrap: wrap;
}

.summary-row-buttons p {
    margin: 5px 5px;
}

@media screen and (max-width: 840px) {
    .modal-window {
        width: 95%;
    }

    .update-form {
        width: 90%;
    }

    .cart-contents-container {
        width: 95%;
    }

    .summary-row, .summary-row-buttons {
        justify-content: center;
    }

    .modal-header {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .summary-row, .summary-row-buttons {
        text-align: center;
    }

    .form-group-split {
        width: 100% !important;
        display: block !important;
    }
    
    .form-group-col {
        width: 100% !important;
    }
    .form-group-split > .form-group-col + .form-group-col {
        margin-left: 0px !important;
        margin-top: 15px;
    }

    .modal-header h2 {
        font-size: 22px;
        text-align: left;
    }
}