.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.modal-window {
    width: 75%;
    background-color: white;
    border: 1px solid rgb(147, 147, 147);
    transition: 1.1s ease-out;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 3;
    opacity: 1;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.modal-window h2, .close-modal {
    width: 100%;
}

.close-modal {
    display: flex;
    justify-content: right;
}

.close-modal img {
    width: 35px;
    cursor: pointer;
}

.close-modal img:hover {
    transform: scale(1.1)
}

.update-form {
    width: 70%;
    min-width: 500px;
}

.cart-contents-container {
    width: 80%;
}

.error-box {
    background-color: rgb(240, 133, 133);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.summary-row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.summary-row-stats {
    font-size: 20px;
    line-height: 1.9;
}