#signup-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.multipane-content-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.multipane-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.multipane-button-container p {
    margin: 0px 10px;
}

@media screen and (max-width: 440px) {
    .multipane-button-container > p + button {
        margin-top: 10px;
    } 
}
